
.main {
  box-sizing: border-box;
  background: white;
  padding: 0;
  margin: 2em;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: 300;
  text-shadow: black 0px 0px 6px;
  font-size: 6vh;
  text-align: center;
  /* text-transform: uppercase; */
  color: #000;
  text-shadow: white 0px 0px 6px;
}

.container {

}

.about {

}

.p1 {
height: auto;
width: 70%;
background: rgba(0,0,0,0.3);
text-align: center;
float: right;
margin-right: 1.5em;
}

.p2 {
  height: auto;
  width: 70%;
  background: rgba(0,0,0,0.3);
  text-align: center;
  float: left;
  margin-left: 1.5em;
}

.p3 {
  height: auto;
  width: 70%;
  background: rgba(0,0,0,0.3);
  text-align: center;
  justify-content: center;
  }

.section1 {
  margin-top: -1.5em;
  text-align: center;
  background-image: url("../public/Welcome.jpeg");
  min-height: 60vh;
  color: black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section2 {
  background-image: url("../public/Creative.jpeg");
  min-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section3 {
  background-image: url("../public/Strategy.jpeg");
  min-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section4 {
  background-image: url("../public/Poker.jpeg");
  min-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section5 {
  background-image: url("../public/Bank.jpeg");
  min-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section6 {
  background-image: url("../public/Computer.jpeg");
  min-height: 80vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1080px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .main {
    width: 100%;
    flex-direction: column;
  }
  .footer {
    display: none;
  }

}
