
.main {
  box-sizing: border-box;
  background: white;
  padding: 0;
  margin: 2em;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: 300;
  text-shadow: black 0px 0px 6px;
  font-size: 3vh;
  text-align: center;
  /* text-transform: uppercase; */
  color: #000;
  text-shadow: white 0px 0px 6px;
}

.title {
  margin-top: -1em;
  margin-bottom: .2em;
}
.faceShot {
  margin-right: 1em;
  margin-top: .25em;
  width: 4em;
  height: 5em;
  background-image: url("../public/FaceShot.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  float:right;
  border-radius: .5em;
}

.p1 {
  margin-top: 1em;
  height: auto;
  width: 50%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  float: right;
  margin-right: 1.5em;
  max-height: 60vh;
  border: 1px solid white;
  border-radius: .5em;
}

.p2 {
  margin-top: 1em;
  height: auto;
  width: 50%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  float: left;
  margin-left: 1.5em;
  max-height: 60vh;
  border: 1px solid white;
  border-radius: .5em;
}

.p3 {
  margin-top: 1em;
  height: auto;
  margin-left: 10vh;
  width: 50%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  max-height: 60vh;
  border: 1px solid white;
  border-radius: .5em;
  }

.section1 {
  text-align: center;
  background-image: url("../public/Welcome.jpeg");
  min-height: 30vh;
  max-height: 30vh;
  color: white;
  border: .75vh solid black;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.section2 {
  border: .75vh solid black;
  background-image: url("../public/Creative.jpeg");
  min-height: 60vh;
  max-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.section3 {
  border: .75vh solid black;
  background-image: url("../public/Strategy.jpeg");
  min-height: 60vh;
  max-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.section4 {
  border: .75vh solid black;
  background-image: url("../public/Poker.jpeg");
  min-height: 60vh;
  max-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.section5 {
  border: .75vh solid black;
  background-image: url("../public/Bank.jpeg");
  min-height: 60vh;
  max-height: 60vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.section6 {
  border: .75vh solid black;
  background-image: url("../public/Computer.jpeg");
  min-height: 60vh;
  max-height: 100vh;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5em;
}
.container1 {
  width: 100%;
  height: 10vh;
  background: white;
  margin-bottom: 2vh;
}
.chevron {
  position: absolute;
  width: 12vh;
  height: 3vh;
  right: 48%;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 51%;
  background: black;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(3vh) scale3d(0.7, 0.7, 0.7);
  }
  67% {
    opacity: 1;
    transform: translateY(6vh) scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 0;
    transform: translateY(9vh) scale3d(0.25, 0.25, 0.25);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

@media (max-width: 1080px) {
  .clock{
    display: none;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .main {
    text-align: center;
    width: 80%;
    flex-direction: column;
  }
  .faceShot {
    display: none;
  }
  .section4 {
    max-height: 80vh;
  }
  .main {
    font-size: 4vh;
  }
  .section6 {
    max-height: 100vh;
  }
  .p1 {
    width: 100%;
    margin-right: 0em;
    margin-left: 0em;
    float:none;
  }
  .p2 {
    width: 100%;
    margin-right: 0em;
    margin-left: 0em;
    float:none;
  }
  .p3 {
    width: 100%;
    margin-right: 0em;
    margin-left: 0em;
    float:none;
  }
}
