.algos {
  width: 85vh;
  color: black;
  /* margin: 10em; */
  overflow-x: visible;
  font-size: 1.2rem;
  background: rgba(23, 204, 211, 0.5);
  border-radius: 2em;
  padding: 2em;
}
.blog {
  text-align: center;
  font-size: 2.2em;
  /* background-color: white; */
}
.blog2 {
  /* background-color: white; */
  text-align: center;
  font-size: 1.4em;
}
.problem {
  text-shadow: .1em .1em rgba(255, 255, 255, 0.5);
  justify-content: center;
  text-align: center;
  border-radius: 2em;
  font-size: 2.2em;
  border-top: .2em solid rgb(4, 0, 0, 90%);
}
.language {
  text-shadow: .1em .1em rgba(227, 235, 251, 0.5);
  justify-content: center;
  text-align: center;
  border-radius: 2em;
  font-size: 2.2em;
  border-top: .2em solid rgb(4, 0, 0, 90%);
  border-bottom: .1em solid black;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
}
.algoinfo {
  border: .2em solid black;
  justify-content: center;
  text-align: center;
  border: .5em;
  font-size: 1.5em;
}
.algoaday {
  border-top: .2em solid black;
  border-bottom: .2em solid black;
  border-style:ridge;
  border-left: .2em solid black;
  border-right: .2em solid black;
}
.container1 {
  width: 20%;
  height: 10vh;
  border-radius: 3em;
  margin-bottom: 2vh;
}
.chevron {
  position: absolute;
  width: 12vh;
  height: 3vh;
  right: 48%;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 51%;
  background: black;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(3vh) scale3d(0.7, 0.7, 0.7);
  }
  67% {
    opacity: 1;
    transform: translateY(6vh) scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 0;
    transform: translateY(9vh) scale3d(0.25, 0.25, 0.25);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}