html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  background-color: rgb(130, 220, 223);
  /* background-image: url("/wood-background.jpeg"); */
  background-size: contain;
}
/*
*/
button:focus {
  outline: 0;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
