.container {
  min-height: 75vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  margin-top:150px;
  width: auto;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  height: auto;
}

.download {
  font-size: 2.2rem;
  text-shadow: 2px 2px #d7d8eb;
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(4, 21, 53, 0.5);
  background:rgba(8, 57, 148, 0.5);
  border-radius: 25px;
  padding: 5px;
  border-top: 2px solid white;
  border-bottom: 2px solid rgb(129, 111, 228);
  padding: 8px;
}

.download:hover {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding:5px;
  color: white;
}

.footer {
  background:rgba(0, 0, 0, 0.5);
  display:inline-flex;
  width: 100%;
  height: 150px;
  border-top: 1px solid #eaeaea;
  display:list-item;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 1.4em;
  padding: 10px;
  border-top: 2px solid white;
  border-bottom: 3px solid rgb(129, 111, 228);
  border-radius: 25px;
  margin: 5px;
  text-align: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
  border: 2px;
}

.code {
  background: rgba(41, 199, 49, 0.5);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  border: 2px solid black;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  text-align: left;
  height: 1rem;
  height: 250px;
  width: 250px;
}

.about {
  color: white;
  font-size: 2.5rem;
  width: auto;
}

.mug {
  align-items: left;
  height: 150px;
  width: 130px;
  border-radius: 50px;
  align-self: initial;
}

.aboutPar {
  width: auto;
  color: white;
  font-size: 1.8rem;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding:6px;
}

.algos {
  color: black;
  margin: 25px;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

.date {
  text-shadow: 1px 1px rgba(8, 57, 148, 0.5);
  border: 2px solid rgb(129, 111, 228);
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  font-size: 2.2em;
  border-top: 2px solid rgb(4, 0, 0, 90%);
  border-style: double;
}
.algoinfo {
  border: 2px solid rgb(129, 111, 228);
  justify-content: center;
  text-align: center;
  border: 5px;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
