/* Navbar section */

/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
#App {
    height: 100vh;
    margin: 0;
    display: inline-block;
}

#page-wrap {
    text-align: center;
    overflow: auto;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #c75555;
    transition: color 0.2s;
}

.bm-item:hover {
    color: red;
}

.bm-burger-bars {
    background: #324bbd;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right:36px;
    top: 36px;
}

.bm-cross-buttom {
    height:0pt 24px;
    width: 24px;
}

.bm-menu {
    background: pink;
    padding: 2.5em 1.5em 0;
    font-size: 1.5em;
}

.bm-morph-shape {
    fill: green;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0,200,0,0.3);
    height: 100px;
}


/* @media (max-width: 1080px) {
    .nav {
        display: none;
    }
} */
