.main {
  margin-top:6em;
  width: 35em;
  height: 25em;
  background-color: rgb(53, 45, 45);
  border: .1em solid white;
  font-size: 2.2em;
  border: .1em solid white;
  border-radius: 1em;
}
.pokerHands {
  margin-top: 6em;
  width: 20em;
  height: 15em;
  background-color: rgb(53, 45, 45);
  border: .1em solid white;
  font-size: 2.2em;
  border: 1px solid white;
  border-radius: 5em;
}

.info {
  margin-top: 6em;
  width: 15em;
  height: 15em;
  background-color: rgb(53,45,45);
  border: 1px solid white;
  color: white;
  font-size: 2em;
  font-weight: 900;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.td, .th {
  border: .1em solid white;
  text-align: left;
  padding: .1em;
}

.tr:nth-child(even) {
  background-color:rgb(12, 170, 12);
}

.tableHeader {
border-bottom: .2em solid white;
}

.container {
  min-height: 75vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.topBar {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.money {
  color:rgb(12, 170, 12);
  font-size:1.5em;
}

.gametype {
  color: white;
}

.cardTable {
  height: 12em;
  width: 100%;
  border-radius: 5em;
  background-color: rgb(12, 170, 12);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
padding-top: 3em;
height: 7em;
width: auto;
padding-left:0.2em;
padding-right:0.2em;
}

.handInfo {
  color: white;
  text-align: center;
}

.holdbtns {
margin-top: .8em;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.holdbtn {
color: white;
font-size: 1.5em;
background-color: rgb(53,45,45);
border-radius: 2em;
border-color:white;
border-top: .1em solid white;
border-bottom: .1em solid rgb(12, 170, 12);
border-right: .1em solid black;
border-left: .1em solid black;
}

.holdbtn:hover {
  background-color: rgb(134, 11, 11);
}

.clickedHoldBtn {
  color: rgb(20, 19, 19);
  font-size: 1.5em;
  background-color: rgb(243, 234, 234);
  border-radius: 2em;
  border-color:rgb(20, 19, 19);
  border-top: .1em solid white;
  border-bottom: .1em solid rgb(12, 170, 12);
  border-right: .1em solid black;
  border-left: .1em solid black;
}

.clickedHoldBtn {
  background-color: rgb(12, 170, 12);
}

.betBar {
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 1em;
}

.betBtn {
color: white;
font-size: 1em;
background-color: rgb(53, 45, 45);
border-radius: 2em;
border-top: .1em solid white;
border-bottom: .1em solid rgb(12, 170, 12);
border-right: .1em solid rgb(27, 26, 26);
border-left: .1em solid black;
}
.betBtn:hover {
  background-color: rgb(134, 11, 11);
}

.betAmt {
  color:rgb(12, 170, 12);
  font-weight: 800;
  font-size: 1.5em;
  border-top: .1em solid white;
border-bottom: .1em solid rgb(12, 170, 12);
border-right: .1em solid rgb(27, 26, 26);
border-left: .1em solid black;
border-radius: 1em;
}
.betAmt:hover {
  background-color: rgb(134, 11, 11);
}

@media (max-width: 1080px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .main {
    margin: 0px;
    width: 100vh;
    height: 90vh;
    transform:rotate(90deg);
  }
  .info {
    display: none;
  }
}