.main {
  display: flex;
  background: white;
  padding: 0;
  margin: .5em;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: 300;
  font-size: 3vh;
  text-align: center;
  text-shadow: white 0px 0px 6px;
  flex-direction: column;
  width: 100%;
  min-width: 100vh;
  max-width: 100vh;
}
.title {
  text-align: center;
  color: black;
  margin-top: -.3em;
  font-size: 2.5em;
  margin-bottom: -.02em;
}
.bullets {
  float: left;
  margin-top: .5em;
  text-align: left;
  font-size: 2.5vh;
}
.project {
  flex-direction:row;
  background:rgba(0,0,0);
  min-height: 40vh;
  max-height: 60vh;
  margin-bottom: 2vh;
}
.container {
  display: inline-flex;
}
.projectTitle {

}